<body>
    <h1 id="text">About Us</h1>
    <img src="../../assets/images/aboutus.png" 
         alt="about us"
         id="image">

    <div class="container-text">
        <p id="text-about">
                We are <b>DOCWAY</b>, a platform <b>specialized in emergency and urgency for hospitals</b>, 
                givin quick assistante and access to available doctors. Our goal is to provide 
                effective, safe and fast help for clinical cases in private hospitals. 
                We provide a service that gives hospitals direct access to doctors of 
                various specialties in your area, this access provides you with informations 
                about the doctors, if he is currently available and his capability. Our duty 
                is always to help others, because just a few minutes lost can cost a life.
        </p>
        <h4 id="final-text">
                DOCWAY, your health first.
        </h4>
        <input type="image" 
               src="../../assets/images/completed-logo.png" 
               id="logo"
               (click)="goHome()">
    </div>


</body>