<mat-sidenav-container class="example-container" >

  <mat-sidenav class="sidenav-Right" opened mode="side">
      <div class="navigator">

      <h1 class="title">DOCWAY</h1>

      <button class="button" mat-button> <div class="button-content"><mat-icon aria-label="Example home icon">home</mat-icon> HOME</div> </button>
      <button class="button" mat-button> <div class="button-content"><mat-icon aria-label="Example home icon">people</mat-icon> MEDICS</div> </button>

      <button mat-raised-button class="contact-button">CONTACT US</button>  

    </div> 

  </mat-sidenav>



  <mat-sidenav class="sidenav-Left" opened mode="side" position="end">
      <div class="navigator">

          <h1 class="title">DOCWAY</h1>
    
          <button class="button" mat-button> <div class="button-content"><mat-icon aria-label="Example home icon">home</mat-icon> HOME</div> </button>
          <button class="button" mat-button> <div class="button-content"><mat-icon aria-label="Example home icon">people</mat-icon> MEDICS</div> </button>
    
          <button mat-raised-button class="contact-button">CONTACT US</button>  
    
        </div> 
  </mat-sidenav>
  Implicit main content
</mat-sidenav-container>