<mat-sidenav-container class="example-container" >

  <mat-sidenav class="sidenav-Right" opened mode="side">
      <div class="navigator">

      <img src="../../assets/images/logo.png" alt="docway logo" id="logo">
      <div id="menu">

        <button mat-button> 
          <div class="button-content">
            <mat-icon aria-label="Example home icon">home</mat-icon>DOCTOR'S</div> </button>
  
        <button  mat-button (click)="goAboutUs()"> 
          <div class="button-content">
            <mat-icon aria-label="Example home icon">people</mat-icon>ABOUT US</div> </button>

      </div>


    </div> 

  </mat-sidenav> 



  <mat-sidenav class="sidenav-Left" opened mode="side" position="end">
      <div class="navigator">
          <div class="profile">
            <img src="../../assets/images/vetor-people.png" alt="imagem futura do medico" width="40%">
            <span class="name">
                individual's name
                </span>
          </div>
          

      
          <button class="buttonO" mat-button>Profile </button>
      
          <button class="buttonO" mat-button>Edit Profile</button>

          <button class="buttonO" mat-button>Latest Hires</button>
      
          <button (click)="logout()" class="buttonO" mat-button>Sing Out</button>
          
    
        </div> 
  </mat-sidenav>
  <div class="main-content">
    <h1 class="main-title">Search for doctor's ...</h1>
    <div class="seach">
        <mat-form-field appearance="outline" class="input1">
          <mat-label >Specialization</mat-label>
          <input matInput placeholder="Ex. Cardiologist" >  
        </mat-form-field>

        <h3 class="and">and </h3>
       
        <mat-form-field appearance="outline" class="input2">
          <mat-label>City</mat-label>
          <input matInput placeholder="Campina Grande"   >  
          </mat-form-field>
        </div>   

        <div > 
            <button mat-raised-button color="primary" class="search-button" >SEARCH</button>   
        </div>
  </div>
</mat-sidenav-container>