<body>
  <div>

    <img src="../../assets/images/logo.png" alt="logo" class="position"  id="logo">

    <a class="acharnome" 
       id="login"
       href="../login/login.component.html">
      <b>Login</b>
    </a>

    <a class="acharnome" 
       id="singin"
       href="../register/register.component.html">
        <b>Sing In</b>
    </a>

    <div class="position" id="doctors">
      <p class="doctors-info" id="amount-doctors"><b>12.544</b></p>
      <p class="doctors-info" id="registered">Registered Doctor</p>
    </div>
     
    <img src="../../assets/images/stetos.png" alt="stethoscope" class="position" id="stethoscope">
    <img src="../../assets/images/doc.png" alt="home image doctor" id="image-doctor">
    <img src="../../assets/images/pc.png" alt="notebook image" class="position" id="image-notebook">
         
    <p class="position" id="text-header">
      <b>DocWay</b> is a web platform that<br>
      helps hospitals to find and <b>hire doctors</b><br>
      in a way that is <b>quick</b> and <b>easy</b>.
    </p>
    
    <button 
      mat-raised-button 
      class="position"
      id="view-more"
      (click)="goAboutUs()"><b>View more</b>
    </button>

  </div>
</body>