
    <mat-grid-list cols=10 rowHeight="100%">
           
          <mat-grid-tile
            [colspan]=3
            class="register"
            >
    
            <div class="registerPainel">
              <input type="image" src="../../assets/images/logo.png" 
                    id="logo"
                    (click)="goHome()">

              <h1 class="titleR">Welcome Back!</h1>

              <h3 class="subtitleR">To keep connected with us please</h3>
              <h3 class="subtitleR">login with your personal info.</h3>
          
              <button mat-stroked-button  class="singUp" (click)="goback()">SING IN</button>
            </div>
            
          </mat-grid-tile>

           <mat-grid-tile
            [colspan]=7>
            <div class="login">
               
                <h1 class="title">Create Account</h1>

            <mat-radio-group aria-label="Select an option" color="primary" class="radio-group" [(ngModel)]="value">
                    <mat-radio-button value="1" class="radio">Doctor</mat-radio-button>
                    <mat-radio-button value="2">Hospital</mat-radio-button>
              
                </mat-radio-group>
            <div *ngIf="isDoctor()">    
                <div >
                    <mat-form-field appearance="fill" class="input" >
                      <mat-label>Name</mat-label >
                      <input matInput placeholder="Willian D."  >
                    </mat-form-field>
                    </div>
                <div >
                    <mat-form-field appearance="fill" class="input" >
                      <mat-label>Email</mat-label >
                      <input matInput placeholder="email@email.com" type="email" >
                    </mat-form-field>
                    </div>
                <div >
                    <mat-form-field appearance="fill"  class="input">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="password" type="password"  >  
                    </mat-form-field>
                    </div>    
                <div >
                    <mat-form-field appearance="fill"  class="input">
                      <mat-label>Phone</mat-label>
                      <input matInput placeholder="DDD XXXXX-XXXX" type="number"  >  
                    </mat-form-field>
                    </div>   
                <div >
                    <mat-form-field appearance="fill"  class="input">
                      <mat-label>CRM</mat-label>
                      <input matInput placeholder="CRM" type="number"  >  
                    </mat-form-field>
                    </div>  
                <div >
                    <mat-form-field appearance="fill" class="input" >
                      <mat-label>Specialization</mat-label >
                      <input matInput placeholder="Cardiologist"  >
                    </mat-form-field>
                    </div>      
                <div >
                    <mat-form-field appearance="fill" class="input" >
                      <mat-label>City</mat-label >
                      <input matInput placeholder="Campina Grande"  >
                    </mat-form-field>
                    </div>           
                <div > 

                    <button mat-raised-button color="primary" class="button" (click)="goback()">SING UP</button>   
                </div>
            </div>  
            
            <div *ngIf="isHospital()">    
                    <div >
                        <mat-form-field appearance="fill" class="input" >
                          <mat-label>Name</mat-label >
                          <input matInput placeholder="Hospital of Campina Grande"  >
                        </mat-form-field>
                        </div>
                    <div >
                        <mat-form-field appearance="fill" class="input" >
                          <mat-label>Email</mat-label >
                          <input matInput placeholder="email@email.com" type="email" >
                        </mat-form-field>
                        </div>
                    <div >
                        <mat-form-field appearance="fill"  class="input">
                          <mat-label>Password</mat-label>
                          <input matInput placeholder="password" type="password"  >  
                        </mat-form-field>
                        </div>    
                    <div >
                        <mat-form-field appearance="fill"  class="input">
                          <mat-label>Phone</mat-label>
                          <input matInput placeholder="DDD XXXXX-XXXX" type="number"  >  
                        </mat-form-field>
                        </div>   
                    <div >
                        <mat-form-field appearance="fill"  class="input">
                          <mat-label>CPNJ</mat-label>
                          <input matInput placeholder="xx.xxx.xxx/xxxx-xx" type="number"  >  
                        </mat-form-field>
                        </div>     
                    <div >
                        <mat-form-field appearance="fill" class="input" >
                          <mat-label>City</mat-label >
                          <input matInput placeholder="Campina Grande"  >
                        </mat-form-field>
                        </div>           
                    <div > 
    
                        <button mat-raised-button color="primary" class="button" (click)="goPainel()">SING UP</button>   
                    </div>
                </div>  
                
            </div>
          </mat-grid-tile>
            
            
          </mat-grid-list>
    
    