<div class="container">

    <mat-icon (click)="goback()" class="goback" aria-label="Example home icon">reply</mat-icon>
    
    <div class="box">
        <h1>Você é ?</h1>
        <mat-tab-group>
            <mat-tab label="Doctor"  class="tabs"> 
                <div class="tabs">
                <mat-form-field appearance="outline" class="inputs">
                    <mat-label>Full name</mat-label>
                    <input matInput placeholder="Full name">
                    </mat-form-field>

                <mat-form-field appearance="outline" class="inputs">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email@email.com" type="email">
                    </mat-form-field>

                <mat-form-field appearance="outline" class="inputs">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" type="password">
                    </mat-form-field>

                <mat-form-field appearance="outline" class="inputs">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="password" type="password">
                    </mat-form-field>

                <mat-form-field appearance="outline" class="inputs">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="ddd + number" type="number">
                    </mat-form-field> 

                <mat-form-field appearance="outline" class="inputs">        
                    <mat-label>Specialization</mat-label>
                    <input matInput placeholder="Ex. Cardiologist">
                    </mat-form-field>

                <mat-form-field appearance="outline" class="inputs">  
                    <mat-label>CRM</mat-label>
                    <input matInput placeholder="CRM">
                    </mat-form-field>  

                <mat-form-field appearance="outline" class="inputs">  
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. Campina Grande">
                    </mat-form-field> 
                
                </div>

                <button mat-stroked-button color="primary" class="confirm_button">Confirm</button>   
                    
            </mat-tab>
            <mat-tab label="Hospital"> 
                    <div class="tabs">
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Institucional name</mat-label>
                                <input matInput placeholder="Full name">
                                </mat-form-field>
            
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="email@email.com" type="email">
                                </mat-form-field>
            
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="password" type="password">
                                </mat-form-field>
            
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Confirm password</mat-label>
                                <input matInput placeholder="password" type="password">
                                </mat-form-field>
            
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="ddd + number" type="number">
                                </mat-form-field> 
            
                            <mat-form-field appearance="outline" class="inputs">        
                                <mat-label>CNPJ</mat-label>
                                <input matInput placeholder="xx.xxx.xxx/xxxx-xx">
                                </mat-form-field>
            
                            <mat-form-field appearance="outline" class="inputs">  
                                <mat-label>City</mat-label>
                                <input matInput placeholder="Ex. Campina Grande">
                                </mat-form-field> 
                            
                            </div>
            
                            <button mat-stroked-button color="primary" class="confirm_button">Confirm</button>   
            </mat-tab>
        </mat-tab-group>
         
      
    </div>
    </div>
    
    